.lists-wrapper {
  margin-top: .75rem;
  padding-top: 2rem;
  padding-bottom: 3.38rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .list-header {
    display: flex;
    background-color: white;
    border-bottom: 1px solid #272c3b13; 
    //  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-top: 1px solid #dbdbdb; 
     .header-col {
      //border-right: 1px solid #dbdbdb;
      input#all-users {
        margin-right: .75rem;
      } 
    } 
   }
  .list-body {
    .list-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #272c3b13;
      // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
      i.fa {
        margin-right: 6px;
      }
      i.notifi-icon {
        position: absolute;
        top: 16px;

      }
      i.fa.fa-image.notifi-colorread, i.fa.fa-user.notifi-colorread, i.fa.fa-envelope-open.envelope-colorread, i.fa.fa-paper-plane.paper-plane-colorread  {
        color: $link;
      }
      i.fa.fa-image.notifi-colorunread {
        color: $notifi-unread; 
      } 
      i.fa.fa-user.notifi-colorunread {
        color: $notifi-user-unread; 
      } 
      i.fa.fa-envelope.envelope-colorunread {
        color: $notifi-unread; 
      }
      i.fa.fa-paper-plane.plane-colorunread {
        color: $notifi-unread; 
      }  
      input.list-show {
        margin-right: .75rem;
      }
      i.fa.fa-user.online--user {
        color: $online; 
        font-size: 1.2em !important;
      }
      i.fa.fa-user.ofline--user {
        color: $ofline; 
      }
      a.list {
        display: flex;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      a.list.unread {
        font-weight: 600;
        color: $text-color;
      }
      input.list-show {
        margin-right: .75rem;
      }
      a.list {
        display: flex;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .pagination-wrapp {
    margin-top: 3rem;
  }
}

.box-back-color {
  background-color: white;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-online {  
  color: rgb(29, 231, 29);
}
.user-ofline {
  color: rgb(200, 201, 201);
}



