.float-l {
  float: left;
}

.float-r {
  float: right;
}

.cf:after,
.cf:before{
    display: table;
    content: "";
    clear: both;
}

/* dashboard action-box */
.action-box { 
  .action-wrapper { 
    border-radius: 4px;
    position: relative;
    background-color: $white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $text-color; 
    .action-header {
      background-color: transparent;
      align-items: stretch;
      -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
      box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
      display: flex;
      .action-header-title {
        align-items: center;
        color: $text-color;
        display: flex;
        flex-grow: 1;
        font-weight: 700;
        padding: 0.75rem;
      }
      .action-header-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 0.75rem; 
        color: $text-color;
        @include transition-all(all, 0.3s, ease-in-out);
        &:hover {
          color: $primary;
        }
      }
    }
    .action-content {
      background-color: transparent;
      padding: 2rem 0.75rem 0.75rem 0.75rem;
      min-height: 319px;
      .content {
        .content-list {
          padding: 0.75rem;
          margin-bottom: 0.75rem;
          border-radius: 4px;
          line-height: 1.61rem;
          text-transform: capitalize; 
          background-color: #f8f8f8;
          a.show-url {
            text-decoration: underline;
            color: $text-color;
            @include transition-all(all, 0.3s, ease-in-out);
            &:hover {
              color: $primary;
            }
          }
          .dadge-lable {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            background-color: orangered;
            color: $white;
            width: 1.3rem;
            height: 1.3rem;
            padding: 0.44rem;
            margin-left: 10px;
            font-size: 0.7em;
            border-radius: 290486px;
          }
          .user-pic {
            display: inline-block;
            width: 88px;
            height: 88px;
            border-radius: 50% 50%;
            border: 6px solid $white;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 0;
            padding-right: 0;
            float: left;
          }
          .user-datils {
            display: inline-block;
            float: left;
            margin-top: 19px;
            margin-left: 19px;
            .is-online {
              margin-right: 10px;
            }
          }
          .list-label {
            background-color: $white;
            padding-right: 0.75rem;
            padding-left: 0.75rem;
            border-radius: 6px 6px;
          }
          .social {
            margin-right: 10px;
            a {
              .fa {
                font-size: 1.44em;
              }
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
    .action-dropdown {
      position: absolute;
      background-color: $white;
      max-width: 248px;
      width: 61%;
      z-index: 999;
      top: 49px;
      right: 1px;
      font-size: .9em;
      text-transform: capitalize;
      border-radius: 0 0 4px 4px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
      @include transition-all(all, 0.3s, ease-in-out);
      display: none;
      a {
        display: block;
        width: 100%;
        color: $text-color;
        border-bottom: 2px solid transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        @include transition-all(all, 0.3s, ease-in-out);
        &:hover {
          background: transparent;
          color: $primary;
          border-bottom: 2px solid $primary;
          border-radius: 0;
        }
      }
    }
    .action-dropdown.action-active {
      display: block;
      animation: slideUp ease-out 0.3s forwards;
    }
  }
}


