.error-page {
    color: rgb(255, 254, 253);
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
  .full-height {
    height: 100vh;
  }
  .position-ref {
    position: relative;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    .content {
      text-align: center;
      min-width: 98%;
      .title {
        font-size: 36px;
        padding: 20px;
        color: rgb(255, 254, 253);
      }
      .fa-6x {
        font-size: 6.18em;
      }
    }
  }
}


.error-page.server-error {
  background-image: linear-gradient(141deg, #2196F3 0%, #45a7f8 71%, #66b3f3 100%);
}
.server-error {
  background-image: linear-gradient(141deg, #349ff7 0%, #4ba8f5 71%, #6db7f3 100%);
}

.error-page.unauthorized {
  background-image: linear-gradient(141deg, #ffa202 0%, #ffd942 71%, #faf460 100%);
}

.error-page.forbidden {
  background-image: linear-gradient(141deg, #f0065b  0%, #f31768  71%, #f1397d 100%);
}
.error-page.not-found {
  background-image: linear-gradient(141deg, #587b8d 0%, #6b8b9b 71%, #80a4b6 100%);
}
.not-found {
  background-image: linear-gradient(141deg, #668696 0%, #7496a7 71%, #84aabd 100%);
}

