// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// custom color

$primary: #0084ff;
$white: rgb(255, 255, 255);
$text-color: #0a0a0a;
$text-color-hover: #0a0a0a;

$aside_background:#161627;
$aside_background_submenu:#121220;
$aside-border-color: #272c3b; 
$admin-navbar: #0084ff;
$aqua: rgba(0,255,255,0.99);
$link: rgba(155, 155, 155, 0.911);
$link_hover: rgb(5, 16, 17);
$outdent: rgb(74, 74, 74);

// icon
$notifi-unread: hsla(135, 94%, 39%, 0.911);
$notifi-user-unread: hsla(219, 89%, 45%, 0.911);

$online: hsl(120, 81%, 51%);
$ofline: hsl(180, 1%, 79%);
$star: hsl(56, 88%, 51%);