html {
    background-color: transparent;
}
.select:not(.is-multiple):not(.is-loading)::after { 
    margin-top: -0.4375em;
}

.modal-background {
    background-color: #0a0a13ef;
}

.modal-card { 
    .modal-card-head,.modal-card-foot {
        background-color: #fff;
        border: none;
        button.cancel {
        position: absolute;
        right: 20px;
        } 
    } 
    .modal-card-body {
        background-color: #0a0a13ef;
        li.ip-list {
            list-style: circle;
            padding: 1rem 1.618rem;
            margin: 0;
            margin-left: 1.618rem;
            background-color: transparent;
            color: $link;
            border-radius: 0;
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            @include transition-all(all, 0.3s, ease-in-out);
        }
        li.ip-list.erorr-list {
            list-style: none;
            color: $white;
            background-color: $red;
            border-color: none;
            border-radius: 6px;
            margin-left:0rem
        }
    }
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown {
        left: unset;
        right: 0 !important;
    }
}